# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Database
*.db
*.sqlite

# OS
.DS_Store
Thumbs.db

# Node
node_modules/
npm-debug.log

# Flutter / Dart
tools/
.dart_tool/
.packages
.pub/
build/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
android/.gradle
.flutter-plugins
.flutter-plugins-dependencies

# Local Config
.vscode/
